
<div class="jumbotron testing">
	<h1>Let's talk about users</h1>
	<p>This is where I can call to action</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>		
<div class="row">
	<div class="col-md-6">
		<p>Adicionar uma foto bem grande e bonita, um link direto para o facebook, um para a meetup, um para a apresentacao da pequisa (fazer) um para o Medium e um formulario para que as pessoas se inscrevam (designers e users par amais informacoes), (Outros para usability testing)</p>
	</div>
	<div class="col-md-6">
		<p>Adicionar uma foto bem grande e bonita, um link direto para o facebook, um para a meetup, um para a apresentacao da pequisa (fazer) um para o Medium e um formulario para que as pessoas se inscrevam (designers e users par amais informacoes), (Outros para usability testing)</p>
	</div>
</div>

