@import "bootstrap-sprockets";
@import "bootstrap";

body {
margin:0 !important;
padding: 0 !important;
font-family: Helvetica, Helvetica, sans-serif;
}

.row {
font-family: Helvetica, Verdana, sans-serif;
}

.img_header_div {
background-image: asset-url('header_img_xs.jpg');
background-position: top;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: initial;
padding: 0 !important;
margin: 0 !important;
}

#logo {
width: auto;
max-height: 100%;
padding: 1em;
}

#caption {
color: #ffffff;
background-color: rgba(19, 19, 76, 0.9);
padding: 2em 1.5em 0.5em 0.8em;
margin-top: 14em;
margin-bottom: 3em;
line-height: 1.5em;
font-weight: 450;
text-transform: uppercase;
font-size: 0.8em;
}

#caption span {
color: #ffff00;
font-weight: 600;
font-size: 0.9em;
letter-spacing: 0.08em;
}

.box {
background-color: #ffffff;
margin: 0 !important;
padding: 0 !important;
float: none;
text-align: center;
}

.box h2 {
color: #ffff00;
background-color: #13134b;
padding: 1em;
margin: 0 !important;
font-weight: 500;
text-transform: uppercase;
font-size: 0.9em;
text-align: center;
}

.icons_bkgd {
    background-color: rgba(230, 230, 231, 0.3);
    margin: 0.5em 0;
    padding: 0.3em;
    color: #13134b;
    font-size: 0.8em;
    font-weight: 300;
}

.icons_bkgd h4 {
    font-size: 1em;
    font-weight: 600;
}

.img_steps{
    padding: 0.8em 0;
}

.pitch{
color: #13134b;
margin: 0 !important;
padding: 1.2em 1em 9em 1em;
text-align: justify;
font-weight: 300;
font-size: 0.8em;
line-height: 1.2em;
}

.pitch h2 {
text-align: center;
font-size: 1em;
font-weight: 500;
text-transform: uppercase;
padding: 0.9em 0.7em;
margin: 0 !important;
}

.img_background {
background-image: asset-url('background.jpg');
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
padding: 0 !important;
margin: 0 !important;
}

.benefits {
margin-top: -7em;
text-align: center;
color: white;
line-height: 1.8em;
}

.benefit_img {
max-width: 100%;
border: 10px solid white;
}

.benefits p {
padding: 0em 1em 1.5em 1em;
}

.benefits span {
font-weight: 600;
text-transform: uppercase;
color: #ffff00;
font-size: 0.8em;
}

.benefits h3 {
text-align: center;
font-size: 1em;
font-weight: 600;
color: #ffff00;
}

.social {
color: #13134b;
padding-top: 0 !important;
padding-bottom: 0 !important;
text-align: center;
}

.social h2 {
font-weight: 600;
font-size: 1em;
text-align: center;
padding: 0 !important;
text-transform: uppercase;
}

.social h5 {
font-size: 0.7em;
padding-bottom: 1em;
margin: 0;
}

.social_icon {
max-width: 100%;
padding: 0.5em;
}

hr {
margin-bottom: 1.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;
}

#fb_plugin {
padding-bottom: 2em;
width: 250px;
margin-left: auto;
margin-right: auto;
display: block;
}

#email_form_input {
border-radius: 0;
border: none;
height: 50px;
}

#submit_form_input {
border-radius: 0;
border: none;
height: 50px;
}

#form_label {
color: #ffff00;
font-weight: 300;
font-size: 0.9em;
line-height: 1.3em;
padding: 0;
margin: 0 !important;
}

.form_wraper {
background-color: #13134b;
padding: 1em;
margin: 0 !important;
text-align: center;
color: white;
}

.form_wraper p {
    font-size: 0.8em;
}

.input_container {
padding: 3px;
background-color: #707070;
}

.self_wraper {
background-color: rgba(230, 230, 231, 0.3);
}

#rp_photo {
margin-top: 1em;
margin-bottom: 1em;
margin-left: auto;
margin-right: auto;
display: block;
}

.self_descr {
padding: 0em 2em 2em 2em;
color: #13134b;
text-align: justify;
}

.self_descr h4 {
text-align: center;
font-weight: 600;
}

footer {
color: white;
text-align: center;
background-color: #13134b;
padding: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .img_header_div {
    background-image: asset-url('header_img_sm.jpg');
    }

    .benefits p {
    padding: 0em 8em 1.5em 8em;
    }
}

@media only screen and (min-width: 992px) {

    .img_header_div {
    background-image: asset-url('header_img_md.jpg');
    }

    #fb_plugin {
    width: 500px;
    }

    .benefits p {
    padding: 0em 1em 1.5em 1em;
    }

    #caption {
    margin-top: 22em;
    margin-bottom: 6em;
    font-size: 0.9em;
    }

    #caption span {
    font-size: 1em;
    }

    .box h2 {
    padding: 1.5em;
    font-size: 1.2em;
    }

    .icons_bkgd {
    height: 17em;
    margin: 0.5em 0;
    padding: 0.3em;
    color: #13134b;
    font-size: 1em;
    font-weight: 300;
    border-radius: 0.5em;
    }

    .icons_bkgd h4 {
    font-weight: 600;
    font-size: 1.3em;
    }

    #idstep2 {
        padding: 3.65em;
    }

    #idstep3 {
        padding-bottom: 2em;
    }    

    #form_label {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.3em;
    padding: 0;
    margin: 0 !important;
    }

    .form_wraper p {
    font-size: 0.9em;
    }

    .pitch{
    font-weight: 400;
    font-size: 1em;
    line-height: 1.3em;
    }

    .pitch h2 {
    font-size: 1.2em;
    font-weight: 600;
    }

    .social h2 {
    font-size: 1.1em;
    }

    .social h5 {
    font-size: 0.9em;
    }

    .social_icon {
    max-width: 100%;
    padding: 0.5em;
    }

}

@media only screen and (min-width: 1200px) {
    
    .img_header_div {
    background-image: asset-url('header_img_lg.jpg');
    }

    #caption {
    font-size: 1em;
    }

    #caption span {
    font-size: 1.1em;
    }

    .icons_bkgd {
    height: 16em;
    }

    #rp_photo {
    padding: 5em 3em;
    }

    .self_descr {
    padding: 2em 2em 2em 2em;
    color: #13134b;
    text-align: justify;
    }
    
}