@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin:0;
	padding: 0;
	font-family: Helvetica, Helvetica, sans-serif;
}

.img_header_div {
	background-image: asset-url('header_img.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
}

#logo {
	width: auto;
	max-height: 100%;
	padding: 10px 15px;
	background: rgba(255, 255, 255, 0.9);
	margin-top: 20px;
	border-radius: 0;
}

#what_if {
	color: #0b0b3f;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1.5em 1.5em 1.5em 1em;
	margin-top: 18em;
	margin-bottom: 8em;
	line-height: 1.5em;
	font-weight: 400;
}

.form_wraper {
	background-color: #0b0b3f;
	padding: 30px 0px;
	margin: 0 !important;
	text-align: center;
	color: white;
}

#form_label {
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: 2px;
	padding-bottom: 30px;
	margin: 0 !important;
}

.input_container {
	padding: 3px;
	background-color: #707070;
}

#email_form_input {
	border-radius: 0;
	border: none;
	height: 50px;
}

#submit_form_input {
	border-radius: 0;
	border: none;
	height: 50px;
}

.pitch{
	padding: 20px 20px 120px 20px;
	text-align: center;
	color: #141468;
}

.pitch h2 {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	padding-bottom: 10px;
}

.pitch p {
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 2em;
}

.img_background {
	background-image: asset-url('background_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
}

.benefits {
	margin-top: -90px;
	text-align: center;
	color: white;
	line-height: 2em;
}

.benefit_img {
	max-width: 100%;
	border: 10px solid white;
}

.benefits p {
	padding: 15px 10px 10px 10px;
}

.benefits h3 {
	text-align: center;
	font-size: 1em;
}

.social {
	padding-top: 0 !important;
	padding-bottom: 2em;
	text-align: center;
}

.social h2 {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.social_icon {
	padding-left: 1em;
	padding-right: 1em;
	max-width: 100%;
}

hr {
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#fb_plugin {
	text-align: center;
	padding-bottom: 50px;
}

#email_form_input2 {
	border-radius: 0;
	border: none;
	height: 50px;
}

#submit_form_input2 {
	border-radius: 0;
	border: none;
	height: 50px;
}

#form_label2 {
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: 2px;
	padding-bottom: 30px;
	margin: 0 !important;
}

footer {
	color: white;
	text-align: center;
	background-color: #0b0b3f;
	padding: 20px;
}

