@import "bootstrap-sprockets";
@import "bootstrap";

body {
margin:0;
padding: 0;
font-family: Helvetica, Helvetica, sans-serif;
}

.row {
font-family: Helvetica, Verdana, sans-serif;
}

.img_header_div {
background-image: asset-url('header_img.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
}

#logo {
width: auto;
max-height: 100%;
padding: 10px 15px;
margin-top: 20px;
border-radius: 0;
}

#caption {
color: #ffffff;
background-color: rgba(19, 19, 76, 0.9);
padding: 2em 1.5em 0.5em 0.8em;
margin-top: 21em;
margin-bottom: 5em;
line-height: 1.5em;
font-weight: 500;
text-transform: uppercase;
}

#caption span {
color: #ffff00;
font-weight: 700;
font-size: 1.2em;
}

#description {
background-color: #13134b;
padding: 0.7em 0em;
margin: 0 !important;
text-align: center;
color: white;
font-size: 1.5em;
text-transform: uppercase;
font-weight: 400;
}

.pitch{
color: #13134b;
padding: 1.2em 1em 8em 1em;
text-align: center;
font-weight: 500;
font-size: 1.08em;
letter-spacing: 0.07em;
line-height: 1.7em;
}

.img_background {
background-image: asset-url('background_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
}

.benefits {
margin-top: -7em;
text-align: center;
color: white;
line-height: 1.8em;
}

.benefit_img {
max-width: 100%;
border: 10px solid white;
}

.benefits p {
padding: 15px 10px 10px 10px;
}

.benefits span {
font-weight: 700;
text-transform: uppercase;
color: #ffff00;
font-size: 0.9em;
}

.benefits h3 {
text-align: center;
font-size: 1em;
font-weight: 600;
color: #ffff00;
}

.social {
padding-top: 0 !important;
padding-bottom: 2em;
text-align: center;
}

.social h2 {
color: #13134b;
font-weight: bold;
font-size: 1.2em;
text-align: center;
padding-top: 1em;
padding-bottom: 1em;
text-transform: uppercase;
}

.social_icon {
padding-left: 1em;
padding-right: 1em;
max-width: 100%;
}

hr {
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#fb_plugin {
text-align: center;
padding-bottom: 50px;
}

#email_form_input2 {
border-radius: 0;
border: none;
height: 50px;
}

#submit_form_input2 {
border-radius: 0;
border: none;
height: 50px;
}

#form_label2 {
font-weight: 300;
font-size: 1.2em;
letter-spacing: 2px;
padding-bottom: 30px;
margin: 0 !important;
}

.form_wraper {
	background-color: #13134b;
	padding: 1em 0em;
	margin: 0 !important;
	text-align: center;
	color: white;
}

.input_container {
	padding: 3px;
	background-color: #707070;
}

.self_wraper {
	background-color: rgba(230, 230, 231, 0.3);
}

.rp_photo {
	padding: 1em;
}

.self_descr {
	padding: 1em;
	color: #13134b;
	text-align: justify;
}

.self_descr h4 {
	text-align: left;
	font-weight: 600;
}

footer {
color: white;
text-align: center;
background-color: #13134b;
padding: 20px;
}
